<header>
  <nav>
    <ul>
      <li><a href="../">Accueil</a></li>
      <li><a href="../games">Jeux</a></li>
      <li><a href="../genres">Genres</a></li>
      <li><a href="../editors">Éditeurs</a></li>
    </ul>
  </nav>
</header>
