<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vapeur - Accueil</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
 <div>
    {{> header}}
    
    <main>
        <div class="container">
            <h1>Bienvenue sur Vapeur</h1>
            <p>Gérez votre collection de jeux vidéo facilement !</p>
        </div>

        <div class="container">
            <h2>Jeux en vedette</h2>
            <div class="list-items">
                {{#each games}}
                    <div class="list-item">
                        <h3>{{this.title}}</h3>
                        {{#if this.genre}}
                            <p>Genre : {{this.genre.name}}</p>
                        {{/if}}
                        {{#if this.editor}}
                            <p>Éditeur : {{this.editor.name}}</p>
                        {{/if}}
                        {{#if this.releaseDate}}
                            <p>Sorti le : {{this.releaseDate}}</p>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    </main>

    {{> footer}}
</div>
</body>
</html>
